name: build and release

on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up requirements for ubuntu
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        sudo apt update -y
        sudo apt install gcc libc6-dev -y
        sudo apt install libx11-dev xorg-dev libxtst-dev -y
        sudo apt install libpng++-dev -y
        sudo apt install xcb libxcb-xkb-dev x11-xkb-utils libx11-xcb-dev libxkbcommon-x11-dev libxkbcommon-dev -y
        sudo apt install xsel xclip -y
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - name: Build for macos or ubuntu
      if: ${{ matrix.os != 'windows-latest' }}
      run: |
        make release
        mv bin/kmactor bin/kmactor-${{ matrix.os }}
    - name: Build for windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        Invoke-WebRequest -Uri https://github.com/niXman/mingw-builds-binaries/releases/download/12.2.0-rt_v10-rev2/x86_64-12.2.0-release-win32-seh-msvcrt-rt_v10-rev2.7z -OutFile mingw64.7z
        7z x mingw64.7z
        make win
        mv bin/kmactor bin/kmactor-${{ matrix.os }}
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: artifact
        path: bin/kmactor-${{ matrix.os }}

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: artifact
        path: ./
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: "kmactor-*"
